.container {
  display: flex;
  flex-direction: column; /* Alinea elementos verticalmente */
  align-items: center;
  gap: 20px; /* Espaciado entre elementos */
  max-height: 80vh; /* Limita la altura máxima */
  overflow-y: auto; /* Habilita desplazamiento vertical si es necesario */
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #ffffff;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.platillo-card {
  background-color: white;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px; /* Ajusta el ancho */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgb(253, 253, 253);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.platillo-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.status-available {
  color: rgb(110, 218, 110);
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.status-unavailable {
  color: rgb(210, 33, 84);
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.confirm-button {
  background-color: #FF5722;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: auto;
}

.confirm-button:hover {
  background-color: #DD9004;
}
