.error_404 {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #003366, #001a33); /*Color del fondo de la página*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #eef7ff;
    padding: 6.5vh;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1 {
    margin: 0;
    font-size: 120px;
    font-weight: bold;
    color: #003366;
}

.card h3 {
    margin: 0;
    font-size: 24px;
    font-weight: lighter;
    color: #003366;
}

.card h4 {
    margin: 0;
    padding-top: 2vh;
    font-size: 14px;
    font-weight: lighter;
    color: #003366;
}

.card button {
    margin-top: 2vh;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #eef7ff;
    background-color: #003366;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #00509e;
}
