/* Estilos para el contenedor principal */
.graficos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
}

/* Estilo para cada secci칩n */
.grafico-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Estilos para los botones */
.botones button {
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #212121;
    border-radius: 5px;
    background-color: #FF5722;
    transition: background-color 0.3s;
    color: #212121;
    background-color: #FFC107;
}

.botones button:hover {
    background-color: #DD3400;
    background-color: #DD9004;
}

.botones button:active {
    background-color: #FF5722;
    background-color: #FFC107;
}
/*
.botones-navegacion button{
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #212121;
    border-radius: 5px;
    background-color: #FFC107;
    transition: background-color 0.3s;
    color: #212121;

}
.botones-navegacion button:hover {
    background-color: #DD9004;
}

.botones-navegacion button:active {
    background-color: #FFC107;
}

/* Espaciado y disposici칩n */
.botones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.horizontal {
    display: flex;
}

.horizontal div {
    padding: 10px;
    border: 1px solid #ccc;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .botones {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        /* Coloca m치s botones por fila en pantallas peque침as */
    }
}