.menu-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
    justify-content: flex-start; /* Alinear las tarjetas al inicio */
    align-items: flex-start; /* Alinear al inicio verticalmente */
    gap: 20px; /* Espacio entre tarjetas */
    padding: 20px; /* Margen interno */
    background-color : #523532;/*Color principal para login (gradiente)*/
    min-height: calc(100vh - 70px); /* Ocupa toda la pantalla menos el tamaño del top-menu-table */
    box-sizing: border-box;
    overflow-y: auto; /* Permitir desplazamiento si el contenido excede */
}

.table-menu-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.top-menu-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFF; /* Fondo blanco */
    padding: 10px 5%; /* Usa un padding dinámico */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: sticky;
    z-index: 10; /* Mantenerlo por encima del contenido */
}

.title-menu-table {
    color: #FF5722;
    font-weight: bold;
    margin-left: 70px;
}

.filter-menu-actions {
    display: flex;
    gap: 10px;
    button {
        background: rgba(255, 255, 255, 0.87);
        background-color: #DD9004;
        background-color: #FFC107;
        border: #fff;
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

.create-menu-button {
    width: 35px;
}

.delete-menu-button {
    margin-right: 70px;
}

.empty-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #555;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: auto;
}

.empty-menu-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    opacity: 0.9;
}

.empty-menu-message {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.empty-menu-description {
    font-size: 18px;
    color: #777;
}

@media (max-width: 767px) {
    .title-menu-table {
        margin: 0;
    }

    .top-menu-table {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .delete-menu-button {
        margin-right: 0;
    }

    .filter-menu-actions {
        margin-bottom: 10px;
    }

    .table-menu-container {
        margin: 0;
        width: 352px;
        height: 500px;
    }

    .popup-menu {
        width: 350px;
        height: 600px;
    }

    .popup-menu .form {
        padding: 20px;
    }

    .popup-menu .close {
        margin-right: 0;
    }

    .popup-menu .options-class {
        width: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title-menu-table {
        margin-left: 35px;
    }

    .delete-menu-button {
        margin-right: 35px;
    }
}