/* src/styles/pedidos.css */

.pedidos-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.pedidos-table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.pedidos-top-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pedidos-title-table {
  font-size: 24px;
  font-weight: bold;
}

.pedidos-filter-actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.pedidos-filter-actions button img {
  width: 24px;
  height: 24px;
}
