.proveedores-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.proveedores-table-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.proveedores-top-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.proveedores-title-table {
    color: #FF5722;
    margin-left: 70px;
}

.proveedores-filter-actions {
    display: flex;
    gap: 10px;
    align-items: center; /* Asegura que los botones estén centrados verticalmente */
    justify-content: center; /* Centra horizontalmente dentro del contenedor */
}

.proveedores-filter-actions button {
    background: rgba(255, 255, 255, 0.87);
    border: #fff;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.proveedores-create-button {
    width: 35px;
}

.proveedores-delete-button {
    margin-right: 70px;
}

@media (max-width: 767px) {
    .proveedores-title-table {
        margin: 0;
    }
    .proveedores-top-table {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .proveedores-delete-button {
        margin-right: 0;
    }

    .proveedores-filter-actions {
        margin-bottom: 10px;
    }
    .proveedores-table-container {
        margin: 0;
        width: 352px;
        height: 500px;
    }
    .popup {
        width: 350px;
        height: 600px;
    }
    .popup .form {
        padding: 20px;
    }

    .popup .close {
        margin-right: 0;
    }

    .popup .options-class {
        width: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .proveedores-title-table {
        margin-left: 35px;
    }

    .proveedores-delete-button {
        margin-right: 35px;
    }
}
