.table-container .tabulator .tabulator-col {
    background-color: #FF5722;
    color: #fff;
}
.table-container .tabulator .tabulator-col :hover {
    background-color: #DD3400;
    color: #fff;
}
.tabulator .tabulator-footer .tabulator-page {
    background-color: #FFEBEE;
    color: black;
    border: 1px solid #212121;
    padding: 4px 8px;
    border-radius: 4px;
}
.tabulator .tabulator-footer .tabulator-page.active {
    color: #FFC107;
}