.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.table-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.top-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title-table {
    color: #FF5722;
    margin-left: 70px;
}

.filter-actions {
    display: flex;
    gap: 10px;
    button {
        background: rgba(255, 255, 255, 0.87);
        background-color: #DD9004;
        background-color: #FFC107;
        border: #fff;
        cursor: pointer;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}
.create-button {
    width: 35px;
}
.delete-user-button {
    margin-right: 70px;
}
.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    color: #555;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.empty-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.empty-message {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.empty-description {
    font-size: 16px;
    color: #777;
}

@media (max-width: 767px) {
    .title-table {
        margin: 0;
    }
    .top-table {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .delete-user-button {
        margin-right: 0;
    }

    .filter-actions {
        margin-bottom: 10px;
    }
    .table-container {
        margin: 0;
        width: 352px;
        height: 500px;
    }
    .popup {
        width: 350px;
        height: 600px;
    }
    .popup .form {
        padding: 20px;
    }

    .popup .close {
        margin-right: 0;
    }

    .popup .options-class {
        width: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title-table {
        margin-left: 35px;
    }

    .delete-user-button {
        margin-right: 35px;
    }
}